{% extends 'fin_track/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<main class="main-content">
          <div class="transaction-history">
            <h2>Financial Transaction History</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.description }}</td>
            </tr>
            
        {% endfor %}
        </tbody>
            
        </table>
        </div>
        <p><b>Total Income = ${{ total_income }}</b></p>
        <p><b>Total Expense = ${{ total_expense }}</b></p>
        <p><b>Balance = ${{ balance }}</b></p>
        </div>

        

    </main>
    {% endblock content %}